* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 64rem; 
  margin: auto;
  padding: 6.25rem 3.75rem 8.25rem 3.75rem;
  background-color: #fff;
}

img {
	display: block;
	width: 100%;
	height: auto;
}
