@media (min-width: 48rem) {
  .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  .main-1 {
    min-width: 100%;
   }
  
  .main-2 {
    min-width: 30%;
  }
  .main-3 {
    min-width: 65%;
  }
 }


   