.page {
  background-image: url('../img/body/page-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


/*HEADER*/

.header {
  position: relative;
  padding: 1.4375rem 0 3.75rem 0;
}

.header-logo {
  width: 77px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  font-family: Dorsa, Arial, Helvetica, sans-serif;
  font-size: 2.0625rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #263555;
}

.navigation {
  display: flex;
  list-style-type: none;
  font-family: Pathway Gothic One;
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #f0f3fe;
}

.nav:hover {
  color: #263555;
}

.menu {
  display: none;
  position: absolute;
  padding: 0.5rem;
  top: 67%;
  left: 46%;
  border-radius: 0.25rem;
  background-color: #fff;
  list-style-type: none;
}

.menu li {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: #6b7488;
}

.menu li:last-child {
  margin-bottom: 0;
}

.nav:hover>.menu {
  display: block;
}

.menu::before {
  display: block;
  content: " ";
  position: absolute;
  left: 45%;
  top: -0.375rem;
  transform: translate(-50%);
  border-left: 0.125rem solid transparent;
  border-right: 0.125rem solid transparent;
  border-bottom: 0.375rem solid #fff;
}

@media (max-width: 768px) {
  .header-logo {
    margin: auto;
    margin-bottom: 1.875rem;
  }
  .navigation {
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
  }
  .nav {
    flex-basis: 33%;
    text-align: center;
    /* margin-bottom: 1.25rem; */
  }
  /* .nav:nth-child(4) {
margin-bottom: 0;
  } */
}

/*GALLERY*/

.section {
  background-color: #fff;
  padding: 3.6875rem 2.3125rem 4.6875rem 2.3125rem;
}

.title {
  margin-bottom: 2.375rem;
  font-size: 1.75rem;
  font-family: Pathway Gothic One, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #263555;
}

.gallery-item {
  position: relative;
  margin-bottom: 2.5rem;
}

.gallery-item::before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}

.gallery-item:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery-item::after {
  display: none;
  position: absolute;
  height: 33px;
  width: 33px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background: url(../img/gallery/icon.png);
}

.gallery-item:hover::after {
  display: block;
  z-index: 1;
}

.btn-top {
  position: fixed;
  height: 24px;
  width: 24px;
  bottom: 15.125rem;
  right: 0.5rem;
  border-radius: 100%;
  background-color: rgb(56, 174, 229);
}

.top-link::after {
  position: absolute;
  display: block;
  content: " ";
  width: 11px;
  height: 6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/top.png);
}


/*FOOTER*/

.page-footer {
  padding-bottom: 1.3125rem;
  margin: auto;
}

.footer {
  padding: 1.5rem 2.125rem;
  background-image: url('../img/footer/footer-bg.jpg');
}

.list {
  margin-bottom: 1.4375rem;
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Open Sans, sans-serif;
  color: #fff;
}

.link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  flex-basis: 30%;
  margin-bottom: 0.875rem;
}

.item:nth-child(n+4) {
  margin-bottom: 0;
}

.link-item {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Open Sans, sans-serif;
  font-size: 0.875rem;
  color: #fff;
}

.contacts {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: Open Sans, sans-serif;
  color: #fff;
}

.contact {
  flex-basis: 30%;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.phone,
.e-mail {
  flex-basis: 30%;
  font-family: Arial, sans-serif;
  font-size: 0.625rem;
}

.phone {
  text-transform: uppercase;
}

.phone:before {
   display: block; 
  content: " ";
  width: 10px;
  height: 17px;
  background-image: url('../img/footer/icon-1.png');
}

.e-mail {
  text-transform: none;
}

.e-mail:before {
  display: block;
  content: " ";
  width: 18px;
  height: 14px;
  background-image: url('../img/footer/icon-2.png');
}

.footer-socials {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 1.875rem;
}

.footer-icon {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 0.5625rem;
}

.footer-icon:hover {
  -webkit-filter: grayscale(100%)
}

.bg-twitter {
  background: url('../img/footer/icons-footer.png') -10px -10px;
}

.bg-facebook {
  background: url('../img/footer/icons-footer.png') -70px -10px;
}

.bg-google_plus {
  background: url('../img/footer/icons-footer.png') -10px -70px;
}

.bg-linkedin {
  background: url('../img/footer/icons-footer.png') -70px -70px;
}

.footer-copyright {
  margin-top: 0.875rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5625rem;
  line-height: 1.125rem;
  text-align: center;
  color: #fff;
}

@media (max-width: 768px) {
  .header-logo {
    margin: auto;
    margin-bottom: 30px;
  }
  .nav {
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
  }
  .gallery-item:nth-child(6) {
    margin-bottom: 0;
  }
  .gallery-item:nth-child(n+7) {
    display: none;
  }
}