    @media (min-width: 48rem) {
      .header-logo {
        width: 13.021%;
        height: 13.021%;
        padding: 1.5625rem 1.25rem;
        line-height: 6.25rem;
        font-size: 2.6875rem;
      }
      .navigation {
        margin-top: 1.5625rem;
      }
      .nav {
        margin-bottom: 1.6875rem;
      }
      .nav-link {
        font-size: 1.5rem;
      }
      .menu {
        padding: 0.75rem;
      }
      .submenu {
        margin-bottom: 0.5625rem;
      }
      .sub-link {
        font-size: 1.0625rem;
      }
      .wrapper {
        padding: 5.375rem 2.87rem 5.375rem 2.875rem;
      }
      /*GALLERY*/
      .title {
        margin-bottom: 2.9375rem;
      }
      .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .gallery-item {
        flex-basis: 48%;
      }
      .gallery-item:nth-child(6) {
        margin-bottom: 2.5rem;
      }
    }

    @media (min-width: 48rem) and (max-width: 64rem) {
      .gallery-item:nth-child(7),
      .gallery-item:nth-child(8) {
        display: block;
        margin-bottom: 0;
      }
      .btn-top {
        height: 28px;
        width: 28px;
        bottom: 17.9375rem;
        right: 0.5625rem;
      }
      /*FOOTER*/
      .page-footer {
        display: block;
        padding-bottom: 2.75rem;
      }
      .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2.4375rem 5.125rem 2.125rem 0.0625;
      }
      .list {
        margin-bottom: 0;
      }
      .item {
        margin-bottom: 0.8125rem;
      }
      .link-item {
        font-size: 1rem;
      }
      .contacts {
        display: block;
      }
      .contact {
        margin-bottom: 0.9375rem;
        font-size: 1.125rem;
      }
      .phone {
        margin-bottom: 0.625rem;
      }
      .phone:before,
      .e-mail:before {
        display: none;
      }
      .phone,
      .e-mail {
        font-size: 0.75rem;
      }
      .footer-icon {
        margin-right: 0.8125rem;
      }
      .footer-copyright {
        margin-top: 1.5625rem;
      }
    }