* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.page-footer {
  padding: 1.5rem 0;
  background-color: #d8bea4;
 }

.footer-socials {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.footer-icon {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 0.75rem;
  
}

.footer-icon:hover {
  -webkit-filter: grayscale(100%)
}



.bg-twitter {
  background: url('../img/icons-footer.png') -10px -10px;
}

.bg-facebook {
  background: url('../img/icons-footer.png') -70px -10px;
}

.bg-google_plus {
  background: url('../img/icons-footer.png') -10px -70px;
}

.bg-linkedin {
    background: url('../img/icons-footer.png') -70px -70px;
}