* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
/* 
.wrapper {
  width: 1200px;
  margin: auto;
  padding: 0 16px;
  background-color: #fefefe;
} */

.wrapper {
	width: 1024px; /* ширина сайта*/
  margin: auto;
  padding: 60px;
  list-style-type: none;
  text-decoration: none;
}
