.page {
  min-height: 100vh;
  background: url(..img/page-bg.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  outline: 1px solid #666;
}

/* body {
  background-image: url(https://static.pexels.com/photos/34950/pexels-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
} */