* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
	width: 64rem; 
  margin: auto;
  padding: 6.125rem 3.75rem 8.75rem 3.75rem;
  font-family: Pathway Gothic One, Arial, Helvetica, sans-serif;
  background-color: #fff;
}
